
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fd2c2a; */
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 1s;
  background-color: #000;
  color: #fff;
  font-family: 'Anton', sans-serif;
}

canvas {
  pointer-events: none;
}

span.growing {
  background-color: #fd2c2a;
}
body {
  font-family: 'Helvetica Now Display', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
@layer utilities {
  .animation-delay-150 {
    animation-delay: 150ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
}
